img{
    width: 600px;
    height: 200px;
}


body{
    text-align: center;
    font-family: monospace;
    color:white;
    background-color: black;
    background: url("https://media.giphy.com/media/QFSP1WmdLaSru/giphy.gif");
}